body{
    overflow: hidden;
}
.container{
    height: 80vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10 0 0 10;
    text-align: center;
}
.tiles{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    border-radius: 20px;
    background-color: rgb(118, 162, 176);
    padding: 10px;
    height: 90%;
}
.fruit {
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(16, 41, 96);
    text-align: center;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}